<!DOCTYPE html>
<html>
<head>
  <title>A full site layout.</title>
  
  <style>
    body {
      margin:0;
      padding:0;
      font-family:Arial,sans-serif;
    }

    div {
      box-sizing:border-box;
      border-radius:10px;
      margin:0;
      padding:2%;
      text-align:center;
    }
    
    #main {
      background-color:#4ca7e8;
      margin:2%;
    }
    
   
    .box {
      float:left;
      background-color:#23d185;
      width:22.5%;
      margin-left:2%;
    }
    
  </style>
</head>
<body>
    <div id="main"> 
      <h1> The main content</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae mauris tortor. Nullam erat orci, tristique nec condimentum in, eleifend eget nibh. Mauris lacinia accumsan finibus. Aenean ultricies erat eget accumsan vehicula. Aenean vel est eu eros maximus vestibulum. Vivamus gravida, quam ut lacinia suscipit, metus risus sollicitudin felis, et feugiat nisl dolor ut turpis.</p>
    </div>
    
    <div class="box">
      <h3>Box #1</h3>
      <p> blabla blabla</p>
    </div>
    <div class="box">
      <h3>Box #2</h3>
      <p> blabla blabla</p>
    </div>
    <div class="box">
      <h3>Box #3</h3>
      <p> blabla blabla</p>
    </div>
    <div class="box">
      <h3>Box #4</h3>
      <p> blabla blabla</p>
    </div>
</body>
</html>